
html{
    font-family: sans-serif;
    background-color:#b1b6cc;
    color:white;
}

body{
    background-color:#b1b6cc;
    color:white;
    
}

.welcome-title{
    border-style:solid; color:white;
    border-width:3px;
    text-align: center;
    
}

.login{
    padding-bottom:15px;
}

.last_name{
    width:50px;
}

table {
    font-family: sans-serif;
    border-collapse: collapse;
    border-width:5px;
    width: 100%;
    
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 3px;
     font-size: 25px;
}


